.card_box>div {
    box-shadow: 0 12px 6px -6px rgba(192, 211, 255, .2);
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 70px;
}

.indent-2 {
    @apply pl-2; /* 使用 padding-left 缩进两个字符 */
    text-indent: 2rem; /* 使用 text-indent 缩进 */
  }