@charset "UTF-8";
.home_box {
  width: 100%;
  height: 100%;
}

.home_box .imgbanner {
  width: 100%;
  height: 540px;
  background-image: url("../../public/bg/home.png");
  background-size: 100% 100%;
  transition: height 0.5s ease-in-out, background 0.5s ease-in-out;
  /* 添加过渡动画 */
}

.home_box .titlebanner {
  width: 100%;
  height: 140px;
  background-color: #2B2E3A;
  transition: height 0.5s ease-in-out, background 0.5s ease-in-out;
}

.home_box .titlebanner .titlecontent {
  width: 80%;
  height: 100%;
  color: #fff;
  margin: 0 auto;
}

.home_box .aboutus {
  width: 100%;
  height: 600px;
  background: linear-gradient(to right, #FAFBFF, #FAFBFF);
  transition: height 0.5s ease-in-out, background 0.5s ease-in-out;
}

.home_box .aboutus .aboutus_banner_box {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.home_box .aboutus .aboutus_banner_box .aboutus_title {
  width: 100%;
  height: 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  padding-top: 60px;
}

.home_box .aboutus .aboutus_banner_box .aboutus_content {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
}

.home_box .aboutus .aboutus_banner_box .aboutus_content .img {
  width: 50%;
  height: 454px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_box .aboutus .aboutus_banner_box .aboutus_content .img img {
  width: 454px;
  height: 454px;
}

.home_box .aboutus .aboutus_banner_box .aboutus_content .text {
  width: 40%;
  height: 280px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 5px 5px #f5f7fc;
}

.home_box .aboutus .aboutus_banner_box .aboutus_content .text h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin: 20px;
}

.home_box .aboutus .aboutus_banner_box .aboutus_content .text p {
  color: #666666;
  font-size: 14px;
  text-indent: 28px;
  line-height: 22px;
  padding: 20px;
}

.home_box .product_services {
  width: 100%;
  height: 700px;
}

.home_box .product_services .product_banner_box {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.home_box .product_services .product_banner_box .product_title {
  width: 100%;
  height: 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  padding-top: 60px;
}

.home_box .product_services .product_banner_box .cartbox {
  width: 100%;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.home_box .product_services .product_banner_box .cartbox .cart {
  width: 220px;
  height: 300px;
  background: linear-gradient(to bottom, #EBF4FF, #fff);
  margin-top: 42px;
  margin-left: 73px;
}

.home_box .cooperate_box {
  width: 100%;
  height: 572px;
  background-image: url("../../public/bg/cooperate.png");
  background-size: 100% 100%;
  margin-top: 100px;
}

@media (min-width: 440px) and (max-width: 980px) {
  .home_box .imgbanner {
    height: 400px;
  }
  .home_box .titlebanner {
    height: 100px;
  }
}

@media (max-width: 440px) {
  .home_box .imgbanner {
    height: 220px;
  }
  .home_box .titlebanner {
    height: 55px;
  }
}
